.App {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"],
button {
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: #0077ff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover,
button:hover {
    background-color: #005ae6;
}

li {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    list-style: none;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}